:root {

    --primary-background-color: #1565D8;
    --second-background-color: #fc5a5a;
    --third-background-color: #00B8D9;


    --primary-text-color: #fff;
    --second-text-color: #36B37E;
    --third-text-color: #183B56;
    --fourth-text-color: #5A7184;

    --border: 1px solid #ECEEF2;
    --radius: 8px;
    --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    ;

}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

header {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
}

.mt5 {
    margin-top: 15px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header .menu {
    display: flex;
    height: 100px;
    align-items: center;
    color: var(--primary-text-color);
    justify-content: space-between;
}

header .menu .logo {
    width: 10%;
}

header .menu .menu-list {
    width: 90%;
    text-align: right;
}

header .menu .menu-list ul {
    display: inline-flex;
    list-style-type: none;
}

header .menu .menu-list ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--primary-text-color);
}

header .menu .menu-list .btn {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    border-radius: var(--radius);
}

.header-body {
    margin-top: 75px;
    display: flex;
}

.header-body .content {
    width: 44%;
    color: white;
}

.header-body .content h2 {
    font-size: 48px;
    letter-spacing: 0.2px;
    line-height: 60px;
    font-weight: 600;
}

.header-body .content p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 50px;
}

.header-body .content input {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 58px;
    border-radius: var(--radius);
    border: none;
}

.header-body .content input::placeholder {
    padding-left: 20px;
}

.header-body .content .text-box {
    position: relative;
}

.header-body .content .text-box button {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: var(--second-text-color);
    border: none;
    border-radius: var(--radius);
    top: 53.5px;
    left: 340px;
    color: var(--primary-text-color);
}

.header-body .content-img {
    width: 50%;
    background-color: var(--second-background-color);
    border-radius: var(--radius);
    margin-left: 6%;
}

.header-footer {
    width: 1000px;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
}

.header-footer .content {
    width: 15%;
    height: 52px;
    background-color: #fc5a5a;
    border-radius: var(--radius);
}

.benefit {
    margin-top: 5rem;
}

.benefit .title {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.benefit .title h2 {
    width: 80%;
    font-size: 40px;
    letter-spacing: 0.2px;
    line-height: 52px;
    font-weight: 600;
    margin: 0 auto;
}

.benefit .title p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: var(--fourth-text-color);
}

.benefit .hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.benefit .hero .hero-card {
    width: 30%;
}

.benefit .hero .hero-card .img {
    width: 50%;
    margin: 0px auto;
}

.benefit .hero .hero-card .img img {
    width: 100%;
}

.benefit .hero .hero-card .img-decs {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.benefit .hero .hero-card .img-decs p {
    font-size: 14px;
    color: var(--fourth-text-color);
    margin-top: 20px;
}

.how-it-works {
    padding: 5rem 0;
}

.how-it-works .content {
    width: 100%;
    display: flex;
}

.how-it-works .content .content-yt {
    position: relative;
    width: 75%;
    height: 400px;
    margin-left: 25%;
    border: var(--border);
    border-radius: var(--radius);
}

.how-it-works .content .content-yt .img {
    content: "";
    position: absolute;
    width: 70%;
    height: 350px;
    top: 25px;
    left: -300px;
    background-color: var(--second-background-color);
    border-radius: var(--radius);
    overflow: hidden;

}

.how-it-works .content .content-yt .text {
    margin-left: 45%;
    margin-top: 10%;
    width: 45%;
}

.how-it-works .content .content-yt .text span {
    color: var(--second-text-color);
    font-size: 14px;
}

.how-it-works .content .content-yt h3 {
    margin: 15px 0;
    color: var();
    font-size: 25px;
    font-weight: 600;
    color: var(--third-text-color);
}

.how-it-works .content .content-yt .text p {
    font-size: 14px;
    color: var(--fourth-text-color);
    margin-bottom: 20px;
}

.how-it-works .content .content-yt .text a {
    text-decoration: none;
    color: var(--primary-background-color);
}

.graph .title {
    width: 650px;
    margin: auto;
    text-align: center;

}

.graph .title h3 {
    width: 500px;
    margin: auto;
    font-size: 30px;
    color: var(--third-text-color);
    letter-spacing: 0.2px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}

.graph .title p {
    color: var(--fourth-text-color);
    margin-top: 3rem;
}

.graph .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5rem;
}

.graph .content .box-left {
    position: relative;
    background-color: var(--third-background-color);
    width: 45%;
    height: 548px;
    border-radius: var(--radius);
}

.graph .content .box-left::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 2;
    background-color: #FAAD13;
    top: 250px;
    right: -100px;
    background-image: url(img/iconspace_Notification\ 2_25px@2x.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.graph .content .box-left .box-card {
    position: absolute;
    width: 100%;
    height: 448px;
    top: 60px;
    left: 60px;
    background-color: #FFFFFF;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.graph .content .box-left .box-card .center {
    margin: 2rem;
}

.graph .content .box-left .box-card .center .card-head {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.graph .content .box-left .box-card .center .card-head .card-text {
    font-size: 20px;
    color: var(--third-text-color);
}

.graph .content .box-left .box-card .center .card-head2 {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid grey;
    border-radius: var(--radius);
}

.graph .content .box-left .box-card .center .card-head2 .card-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fc5a5a;

}

.graph .content .box-left .box-card .center .card-head2 .card-name {
    width: 50%;
}

.graph .content .box-left .box-card .center .card-head2 .card-price {
    width: 23%;
    color: blue;
    font-size: 25px;
}

.graph .content .box-left .box-card .center .card-main {
    width: 100%;
}

.graph .content .box-left .box-card .center .card-main .card-main-name {
    margin-top: 2rem;
}


.graph .content .box-left .box-card .center .card-main .card-main-name span {
    font-size: 22px;
}

.graph .content .box-left .box-card .center .card-main .card-main-name p {
    font-size: 14px;
    margin-top: 5px;
    color: var(--fourth-text-color);
}

.graph .content .box-left .box-card .center .card-footer {
    margin-top: 30px;
}

.graph .content .box-left .box-card .center .card-footer .card-btn {
    display: flex;
    justify-content: center;
}

.graph .content .box-left .box-card .center .card-footer .card-btn a {
    padding: 10px 50px;
    border: 2px solid var(--third-background-color);
    margin-right: 20px;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--third-background-color);
}

.graph .content .box-left .box-card .center .card-footer .card-btn a:last-child {
    margin-right: 0px;
    border: none;
    background-color: var(--third-background-color);
    color: white;
}

.graph .content .box-right {
    width: 40%;
    height: 548px;
}

.graph .content .box-right span {
    display: block;
    margin-top: 5rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--third-background-color);
    font-size: 18px;
}

.graph .content .box-right .box-head h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: var(--third-text-color);
    margin-top: 55px;
}

.graph .content .box-right .box-text {
    margin-top: 15px;
    line-height: 32px;
    font-size: 18px;
    color: var(--fourth-text-color);
}

.graph .content .box-right .box-btn {
    margin-top: 55px;
}

.graph .content .box-right .box-btn a {
    text-decoration: none;
    color: white;
    background-color: var(--third-text-color);
    padding: 20px 35px;
    border-radius: var(--radius);
    font-size: 17px;
}

.track {
    margin-top: 5rem;
}

.track .box {
    display: flex;
    justify-content: space-between;
}

.track .box .box-left {
    width: 45%;
    height: 600px;
    }

.track .box .box-left span {
    color: var(--second-text-color);
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}

.track .box .box-left h3 {
    font-size: 35px;
    letter-spacing: 36px;
    letter-spacing: 0.2px;
    color: var(--third-text-color);
    font-weight: 600;
}

.track .box .box-left .box-service .service {
    width: 100%;
    height: 120px;
    margin-top: 15px;
    border: var(--border);
    border-radius: var(--radius);
    padding: 1.3rem;
    display: flex;
}

.track .box .box-left .box-service {
    margin-top: 25px;
}

.track .box .box-left .box-service .service:first-child {
    background-color: white;
    margin-top: 0px;
    box-shadow: var(--shadow);
}

.track .box .box-left .box-service .service .service-left {
    display: flex;
    justify-content: center;
    width: 15%;
    padding: 9px 22px 33px 0px;
}

.track .box .box-left .box-service .service .service-right{
    width: 80%;
}

.track .box .box-left .box-service .service .service-right .service-head{
    color: var(--third-text-color);
    font-size: 20px;
}

.track .box .box-left .box-service .service .service-right .service-dcs{
    color: var(--fourth-text-color);
    font-size: 16px;
}

.track .box .box-right {
    width: 45%;
    height: 600px;
    border: var(--border);
}